In [1]:
import geopandas as gpd
import vaex
import pandas as pd
import numpy as np

/home/fernando/miniconda3/envs/dash/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [23]:
atributo = 'TO médio'
ano = [1995, 2002]
# distrito = 90

## Quadras

In [24]:
df_iptu_sq = vaex.open('data/IPTU-1995-2022-agrupados-por-sq.hdf5')
gdf_quadras = gpd.read_file('data/quadras.gpkg')
gdf_distritos = gpd.read_file('data/SIRGAS_GPKG_distrito.gpkg')

In [25]:
gdf_quadras.set_index('sq')

,ds_codigo,ds_nome,geometry
sq,,,
001003,9,BOM RETIRO,"POLYGON ((333415.056 7396354.502, 333412.306 7..."
001004,9,BOM RETIRO,"POLYGON ((333547.169 7396521.849, 333542.688 7..."
001005,9,BOM RETIRO,"POLYGON ((333559.635 7396520.416, 333574.733 7..."
001006,9,BOM RETIRO,"POLYGON ((333599.160 7396343.566, 333593.816 7..."
001007,9,BOM RETIRO,"POLYGON ((333689.258 7396305.230, 333688.459 7..."
...,...,...,...
310116,38,JABAQUARA,"MULTIPOLYGON (((332734.442 7383503.772, 332721..."
310117,38,JABAQUARA,"MULTIPOLYGON (((333231.482 7383452.112, 333232..."
310118,38,JABAQUARA,"POLYGON ((332710.926 7384374.222, 332722.074 7..."
310119,38,JABAQUARA,"POLYGON ((333650.450 7384445.066, 333649.333 7..."
310120,38,JABAQUARA,"MULTIPOLYGON (((333312.322 7383219.342, 333311..."

In [26]:
distrito = gdf_distritos[gdf_distritos.ds_codigo == '90']

In [27]:
distrito.iloc[0]

ds_codigo                                                    90
ds_subpref                                         VILA MARIANA
ds_cd_sub                                                    12
ds_sigla                                                    VMN
ds_nome                                            VILA MARIANA
geometry      POLYGON ((332359.73985640635 7389124.108610073...
Name: 77, dtype: object

In [ ]:
quadras = gdf_quadras.set_index('sq').join(df_iptu_sq[df_iptu_sq.ano == 1995].to_pandas_df().set_index('sq'))
quadras

In [17]:
gdf_quadras.set_index('sq').join(df_iptu_sq[(df_iptu_sq.ano >= ano[0]) & (df_iptu_sq.ano <= ano[-1])][['sq', 'ano', atributo]].to_pandas_df().pivot(index='sq', columns='ano', values=atributo))

,ds_codigo,ds_nome,geometry,1995,1996,1997,1998,1999,2000,2001,2002
sq,,,,,,,,,,,
001003,9,BOM RETIRO,"POLYGON ((333415.056 7396354.502, 333412.306 7...",0.596462,0.778118,0.781181,0.781181,0.780475,0.774688,0.774688,0.774688
001004,9,BOM RETIRO,"POLYGON ((333547.169 7396521.849, 333542.688 7...",0.525028,0.745655,0.777484,0.777413,0.777413,0.777413,0.777413,0.779526
001005,9,BOM RETIRO,"POLYGON ((333559.635 7396520.416, 333574.733 7...",0.423541,0.718643,0.746187,0.749969,0.749969,0.749969,0.749969,0.749969
001006,9,BOM RETIRO,"POLYGON ((333599.160 7396343.566, 333593.816 7...",0.571218,0.780805,0.842744,0.842744,0.842744,0.842744,0.844393,0.847249
001007,9,BOM RETIRO,"POLYGON ((333689.258 7396305.230, 333688.459 7...",0.456682,0.744110,0.751947,0.751947,0.751493,0.751493,0.751493,0.751493
...,...,...,...,...,...,...,...,...,...,...,...
310116,38,JABAQUARA,"MULTIPOLYGON (((332734.442 7383503.772, 332721...",0.555223,0.555223,0.555223,0.555223,0.576590,0.576590,0.576590,0.576590
310117,38,JABAQUARA,"MULTIPOLYGON (((333231.482 7383452.112, 333232...",0.636336,0.641827,0.641827,0.639389,0.635643,0.720614,0.722361,0.721039
310118,38,JABAQUARA,"POLYGON ((332710.926 7384374.222, 332722.074 7...",0.294440,0.294440,0.294440,0.294440,0.294440,0.294440,0.294440,0.294440
310119,38,JABAQUARA,"POLYGON ((333650.450 7384445.066, 333649.333 7...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
310120,38,JABAQUARA,"MULTIPOLYGON (((333312.322 7383219.342, 333311...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Lotes

In [40]:
# Abrindo arquivo de lote apropriado
path = f'lotes_agregados_por_ano/{ano[0]}/SIRGAS_SHP_LOTES_{distrito.iloc[0].ds_codigo.rjust(2, "0")}_{distrito.iloc[0].ds_nome.replace(" ", "_")}_IPTU_{ano[0]}.gpkg'
print(path)

lotes_agregados_por_ano/1995/SIRGAS_SHP_LOTES_90_VILA_MARIANA_IPTU_1995.gpkg

In [41]:
lotes = gpd.read_file(path)

In [42]:
lotes

,sq,sqlc,agregado,geometry
0,037083,037083000006,False,"POLYGON ((332904.860 7390044.150, 332900.337 7..."
1,037083,037083000004,False,"POLYGON ((332838.721 7390116.947, 332839.550 7..."
2,038053,038053000006,False,"POLYGON ((333182.830 7391765.482, 333183.358 7..."
3,036007,036007000013,False,"POLYGON ((331713.726 7392268.575, 331715.362 7..."
4,039077,039077000008,False,"POLYGON ((333454.629 7390558.543, 333443.842 7..."
...,...,...,...,...
15286,042189,042189000000,True,"POLYGON ((334317.077 7389590.257, 334312.635 7..."
15287,042190,042190000000,True,"MULTIPOLYGON (((334422.506 7389680.953, 334421..."
15288,042191,042191000000,True,"MULTIPOLYGON (((334150.419 7389573.354, 334146..."
15289,042208,042208000000,True,"MULTIPOLYGON (((334285.090 7389161.405, 334280..."
15290,042209,042209000000,True,None